body{
  background-image:url(tan-paper.jpeg);
  background-size:contain
}
#introContainer{
  margin: 150px;
  font-family: 'Water Brush', cursive;
  font-size: 50px;
  background-image: url(header-paper.jpeg);
  background-repeat: no-repeat;
  background-size: 72rem;
  background-position: center;
}

.sort-card{
  border: 12px;
  border-color: brown;
  border-style: solid;
  border-color: goldenrod;
  border-width: extra thick;
  background-size: center
}

.card-header{
  text-align: center;
  font-family: 'Water Brush', cursive;
  font-size: 40px;
}

.card-body{
  text-align: center;
  font-family: 'Water Brush', cursive;
  font-size: 25px;
}

#buttons{
  text-align: center;
  font-size: 24px;
  margin: 20px;
  font-family: 'Water Brush', cursive;
}

#start{
background-color: brown;
font-family: 'Water Brush', cursive;
font-size: 30px;
width:150px;
text-align: center;
border-color: black;
}

#sort{
  background-color: brown; 
  font-family: 'Water Brush', cursive;
  font-size: 30px;
  width: auto;
  text-align: center;
  border-color: black;
  height:fit-content
}

#hogCardContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: 30px;
  font-family: 'Water Brush', cursive;
  border-bottom: 10px solid;
  border-bottom-style: double;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

#formContainer{
  font-family: 'Water Brush', cursive;
  text-align: center;
  margin: 20px;
  font-size: 40px;
  width: 65rem;
  display:flex;
  justify-content: center;
}


#voldyContainer{
  font-family: 'Water Brush', cursive;
 display: flex ;
 justify-content: center;
 margin: 20px;
 font-size: 40px;
 text-decoration: underline;
}

.btn.btn-danger{
  font-size: 30px;
}

.card-img-top{
  width: 100%;
    height: 50vw;
    object-fit:cover;
}

#statue1{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.card-img-top {
  /* height: auto; */
  /* width:  30rem; */
  height: 19rem;
}

.card{
  height:5%
}

name.form-control {
  width:15%
}
